// Functions
@function rem($pxValue, $font-size: 16){
    @return calc($pxValue / $font-size) * 1rem;
}

// Variables
$grey-color: #999999;
$custom-cyan-color: #88b0b4;

// Default classes
.btn {
    appearance: none;
    background-color: transparent;
    border: none;
    cursor:pointer;
    
    &[disabled] {
        cursor: default;
    }

    &:focus {
        outline: none;
    }
}
.is-sr-only {
    position: absolute;
    width: rem(1);
    height: rem(1);
    padding: 0;
    margin: rem(-1);
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;

}