.header {
    z-index: 7;
    position: relative;
    height: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: rem(5) solid $grey-color;
    padding-right: rem(10);

    button.is-cart img{
        &:first-child {
            vertical-align: bottom;
        }    
        &:last-child {
            width: rem(30);
            height: auto;
        }
    }

    &-data {
        display: flex;
        flex-direction: column;
        span {
            line-height: rem(16);
        }
    }
}