.mini-cart {

    &-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }

    &-container {
        width: 100%;
        position: fixed;
        top: rem(88);
        background-color: $custom-cyan-color;
        border-radius: rem(3);
    
        &:before {
            content: "";
            position: absolute;
            top: rem(-16);
            right: rem(40);
            width: 0;
            height: 0;
            border-left: rem(10) solid transparent;
            border-right: rem(10) solid transparent;
            border-bottom: rem(15) solid $custom-cyan-color;
        }
        .empty {
            text-align: center;
            padding: rem(25) 0;
        }
    
        .product {
            &-item {
                .close {
                    margin-right: rem(20);
                }
            }
        }
    }
}
