.product {
    &-container {
        display: flex;
        flex-direction: column;
        

    }

    &-item {
        display: flex;
        justify-content: space-around;
        padding: rem(20);
        border-bottom: rem(2) solid $grey-color;
        align-items: center;

        &:focus {
            outline: none;
        }
    }

    &-image {
        height: auto;
        width: auto;
        margin: 0 rem(10);
    }

    &-details {
        display: grid;
        flex: 1;
                
    }

    &-title {
        font-size: rem(18);
        font-weight: 600;
    }

    &-title, &-desc {
        max-height: rem(20);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &-quantity {
        display: flex;
        padding: 0 rem(20);

        .is-add img {
            transform: rotateZ(45deg);
            height: rem(8);
        }
        .is-delete img {
            height: rem(10);
        }
        
    }

    &-count {
        width: rem(18);
        height: rem(20);
        font-size: rem(14);
        text-align: right;
        border: rem(1) solid $grey-color;
        padding: 0 rem(2);
    }

    &-price {
        font-weight: 600;
    }



    
}